<div class="container search-box mb-5 bg-blur">
      <h1>Events Search</h1>
      <hr>
      <form  #eventForm="ngForm" ngNativeValidate>
        <div class="form-group pb-3">
          <label class="required-text" for="keyword">Keyword</label>

              <input type="text" class="form-control" id="keyword"
                 matInput
                 [formControl]="searchKeywordsCtrl"
                 [matAutocomplete]="auto"
                 required
                 [(ngModel)]="event.keyword"
                 name="keyword"
                 >
            
            <mat-autocomplete  #auto="matAutocomplete" >
              <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter=25></mat-spinner>
              </mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let event of filteredKeywords" [value]="event">
                  <span>{{event}}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>

          
          
          
        </div>
            <div class="row">
                <div class="col-sm-6 pb-3">
                  <div class="form-group">
                    <label for="distance">Distance</label>
                    <input type="number" class="form-control" id="distance"
                          [(ngModel)]="event.distance" 
                           name="distance" min="0" placeholder="10">
                  </div>
                </div>
                <div class="col-sm-5 pb-3">
                  <div class="form-group">
                    <label class="required-text" for="category">Category</label>
                    <select class="form-select form-control" id="category"
                            required
                            [(ngModel)]="event.category"
                            name="category"
                            #category="ngModel"
                            data-bs-offset="0,-30"
                            >
                      <option *ngFor="let cat of categories" [value]="cat"  [selected]="categories[0]" [ngClass]="{'checkmark':cat==event.category}">
                        {{cat}}
                      </option>
                    </select>
                  </div>
                </div>

        </div>

        <div class="form-group pb-2">
          <label class="required-text" for="location">Location</label>
          <input type="text" class="form-control" id="location"
                 required
                 [(ngModel)]="event.location"
                 name="location"
                 [disabled]="event.autoLocation"
                 >
        </div>
        <div class="form-check form-group pb-3">
          <input class="form-check-input" type="checkbox" value="" id="autoLocation" [(ngModel)]="event.autoLocation"
          name="autoLocation"
          (change)="event.location = event.autoLocation ? '' : event.location">
          <label class="form-check-label" for="autoLocation">
            Auto-detect your location
          </label>
        </div>
        
  
        
        <div class="text-center pb-4">
        <button type="submit" class="btn btn-danger btn-md mx-2" (click)="onSubmit(eventForm.status)">SUBMIT</button>
        <button type="button" class="btn btn-primary btn-md mx-2" (click)="onClear()">CLEAR</button>
      </div>
      </form>

  </div>
  <div *ngIf="submitted == true" class="my-5">
    <div *ngIf="numEvents == 0" class="container bg-light text-danger rounded-pill text-center fw-bolder w-50">
      No results available
    </div>
    <div *ngIf="numEvents > 0 && selectedEvent == ''" class="table-responsive-sm container rounded-3 p-0 border-0 my-5 border-hide overflow-auto">
      <table class="table table-dark table-striped text-center table-borderless mb-0">
        <thead>
          <tr>
            <th scope="col">Date/Time</th>
            <th scope="col">Icon</th>
            <th scope="col">Event</th>
            <th scope="col">Genre</th>
            <th scope="col">Venue</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let eventRow of eventsTable; index as i" (click)="selectEvent(eventRow.id)" style="cursor: pointer">
            <td>
              {{ eventRow.dates.start.localDate }} {{ eventRow.dates.start.localTime }}
            </td>
            <td>
              <img
              src= {{eventRow.images[0].url}}
              class="img-fluid"
              style="max-width:100px;"
            />
            </td>
            <td>{{ eventRow.name  }}</td>
            <td>{{ eventRow.classifications[0].segment.name }}</td>
            <td>{{ eventRow._embedded.venues[0].name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="selectedEvent!= ''" id="event-details">
      <div class="container w-50 bg-blur mx-auto my-5 text-light px-0 rounded-bottom">
        <div class="align-bottom text-left p-3">
          <a (click)="backButton()" style="cursor: pointer"> <span class="material-icons align-middle" style="font-size:16px;">
            arrow_back_ios
            </span> <u>Back</u></a>
        </div>
        <div class=" mb-3 text-center">
          <p class="h4 align-items-center"> {{eventDetails.name}}
              <span *ngIf="favoriteIds == null || !favoriteIds.includes(selectedEvent)" class="material-icons btn-circle mx-2"  (click)="addFavorite()">
                favorite_border
              </span>
              <span *ngIf="favoriteIds != null && favoriteIds.includes(selectedEvent)" class="material-icons btn-circle mx-2 text-danger" (click)="removeFavorite()">
                favorite
              </span>
          </p> 
        </div>
        <mat-tab-group mat-align-tabs="center"  mat-stretch-tabs="false" backgroundColor="accent" color="primary" class="tabs">
          <mat-tab>
            <ng-template mat-tab-label>Events</ng-template>
            <div class="container">
              <div class="row mb-2">
                <div class="col-sm-6 text-center">
                  <div *ngIf="eventDetails.dates?.start?.localDate != null">
                    <p class="detailLabel">Date</p>
                    {{eventDetails.dates.start.localDate}} {{eventDetails.dates.start.localTime}}
                  </div>
                  <div *ngIf="eventDetails._embedded?.attractions?.[0]?.name != null">
                    <p class="detailLabel">Artist/Team</p>
                    <span  *ngFor="let artist of eventDetails._embedded.attractions; let i=index">
                      <span *ngIf="i !=0"> | </span>{{artist.name}}
                    </span >
                    
                  </div>

                  <div *ngIf="eventDetails._embedded?.venues?.[0]?.name != null">
                    <p class="detailLabel">Venue</p>
                    {{eventDetails._embedded.venues[0].name}}
                    
                  </div>
                  <div *ngIf="genres.length != 0">
                    <p class="detailLabel">Genres</p>
                    <span  *ngFor="let g of genres; let i=index">
                      <span *ngIf="g!=''"><span *ngIf="i !=0"> | </span>{{g}} </span>
                    </span >
                    
                  </div>

                  <div *ngIf="eventDetails.priceRanges?.[0]?.min != null">
                    <p class="detailLabel">Price Ranges</p>
                    {{eventDetails.priceRanges[0].min}} - {{eventDetails.priceRanges[0].max}} {{eventDetails.priceRanges[0].currency}}
                    
                  </div>

                  <div *ngIf="eventDetails.dates?.status?.code != null">
                    <p class="detailLabel">Ticket Status</p>
                    <div class="justify-content-center" [ngSwitch]="eventDetails.dates?.status?.code">
                      <div *ngSwitchCase="'onsale'" class="mx-auto px-2 py-1 card bg-success ticket-status">
                        On Sale
                      </div>
                      <div *ngSwitchCase="'offsale'" class="mx-auto px-2 py-1 card bg-danger ticket-status">
                        Off Sale
                      </div>
                      <div *ngSwitchCase="'cancelled'" class="mx-auto px-2 py-1 card bg-dark ticket-status">
                        Cancelled
                      </div>
                      <div *ngSwitchCase="'postponed'" class="mx-auto px-2 py-1 card bg-warning ticket-status">
                        Postponed
                      </div>
                      <div *ngSwitchCase="'rescheduled'" class="mx-auto px-2 py-1 card bg-warning ticket-status">
                        Rescheduled
                      </div>


                    </div>
                    
                  </div>
                  <div *ngIf="eventDetails.url != null">
                    <p class="detailLabel">Buy Ticket At</p>
                    <a target="_blank" href="{{eventDetails.url}}">Ticketmaster</a>                    
                  </div>
                  
                </div>
                <div class="col-sm-6 align-middle align-items-center justify-content-center my-auto">

                  <img src="{{eventDetails.seatmap?.staticUrl}}" class="img-fluid" >
                </div>

              </div>
              <div class="text-center p-3 align-middle align-items-center mb-2">
                Share on: 
                <a href="https://twitter.com/intent/tweet?text=Check {{eventDetails.name}} on Ticketmaster. {{eventDetails.url}}" target="_blank"><i class="fa-brands fa-twitter fa-2x p-1" style="color: #1DA1F2;"></i></a>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{eventDetails.url}}&amp;src=sdkpreparse"><i class="fa-brands fa-square-facebook fa-2x p-1" style="color: #4267B2;"></i></a>

              </div>


            </div>

    
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label> Artists/Teams </ng-template>
            <div *ngIf="artistDetails == ''" class="container bg-light text-danger rounded-pill text-center fw-bold my-5 w-75">
              No music related artist details to show
            </div>
            <div *ngIf="artistDetails != ''">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner w-75 d-block mx-auto">
                  <div class="carousel-item align-items-center justify-content-center" *ngFor="let artist of artistDetails; index as i" [class.active]="i == 0">
                    <div class="row align-middle d-flex align-items-center">
                      <div class="col-sm-3 pt-2 align-items-center justify-content-center text-center text-nowrap">
                        <img src={{artist.artist.images[2].url}} class="img-fluid mx-auto d-block rounded-circle my-1" alt="Artist Image">
                        <p class="h4 text-label-color">{{artist.artist.name}}</p>
                      </div>
                      <div class="col-sm-9">
                        <div class="row align-items-start text-center">
                          <div class="col-sm-4">
                            
                            <p class="detailLabel text-nowrap mb-3">Popularity</p>
                            <div class="h-100 d-flex align-items-center justify-content-center">
                              <div>
                                <mat-progress-spinner
                                style="margin:0 auto;"
                                class="example-margin"
                                color="warn"
                                mode="determinate"
                                diameter=40
                                value={{artist.artist.popularity}}>
                            </mat-progress-spinner>
                              </div>
                              <div style="position:absolute;" class="overlay">
                                {{artist.artist.popularity}}
                                </div>
                          </div>
                          
                          </div>
                          <div class="col-sm-4">
                            <p class="detailLabel text-nowrap mb-3">Followers</p>
                            {{artist.artist.followers.total | number}}
                          </div>
                          <div class="col-sm-4">
                            <p class="detailLabel text-nowrap mb-3">Spotify Link</p>
                            <a href={{artist.artist.external_urls.spotify}} target="_blank"><i class="fa-brands fa-spotify fa-2x p-1" style="color: #1DB954;"></i></a>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    <p class="mt-3 text-label-color">Album featuring {{artist.artist.name}}</p>
                    <div class="row">
                      <div class="col-sm-4" *ngFor="let album of artist.albums.items">
                        <img src={{album.images[1].url}} class="img-fluid mx-auto d-block my-2 mb-4" alt={{album.name}}>
                      </div>
                    </div>
                  </div>
                </div>
                <button *ngIf="artistDetails.length > 1" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button *ngIf="artistDetails.length > 1" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          
          
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label> Venue </ng-template>
            <div class="container">
              <div class="row">
                <div class="col-sm-6 text-center">
                  <div *ngIf="venueDetails.name != null">
                    <p class="detailLabel">Name</p>
                    {{venueDetails.name}}
                    
                  </div>

                  <div *ngIf="address.length == 3">
                    <p class="detailLabel">Address</p>
                    {{address[0]}}, {{address[1]}}, {{address[2]}}
                    
                  </div>

                  <div *ngIf="venueDetails.boxOfficeInfo?.phoneNumberDetail != null">
                    <p class="detailLabel">Phone Number</p>
                    {{venueDetails.boxOfficeInfo?.phoneNumberDetail}}
                    
                  </div>


                </div>
                <div class="col-sm-6 text-center">
                  <div *ngIf="venueDetails.boxOfficeInfo?.openHoursDetail != null">
                    <p class="detailLabel">Open Hours</p>
                    <div [ngClass]="{'limitTextHeight': isReadMore[0]}">{{venueDetails.boxOfficeInfo?.openHoursDetail}} </div>
                    <button class="btn btn-link p-0 text-info" (click)="showText(0)">
                      {{ isReadMore[0] ? 'Show More': 'Show Less' }}
                    </button>
                    <span *ngIf="isReadMore[0]" class="material-icons align-middle" style="font-size:16px;">
                      expand_more
                      </span>
                      <span *ngIf="!isReadMore[0]" class="material-icons align-middle" style="font-size:16px;">
                        expand_less
                        </span>
                    
                  </div>
                  <div *ngIf="venueDetails.generalInfo?.generalRule != null">
                    <p class="detailLabel">General Rule</p>
                    <div [ngClass]="{'limitTextHeight': isReadMore[1]}">{{venueDetails.generalInfo?.generalRule}}</div>
                    <button class="btn btn-link p-0 text-info" (click)="showText(1)">
                      {{ isReadMore[1] ? 'Show More': 'Show Less' }}
                    </button>
                    <span *ngIf="isReadMore[1]" class="material-icons align-middle" style="font-size:16px;">
                      expand_more
                      </span>
                      <span *ngIf="!isReadMore[1]" class="material-icons align-middle" style="font-size:16px;">
                        expand_less
                        </span>
                  </div>
                  <div *ngIf="venueDetails.generalInfo?.childRule != null">
                    <p class="detailLabel">Child Rule</p>
                    <div [ngClass]="{'limitTextHeight': isReadMore[2]}">{{venueDetails.generalInfo?.childRule}}</div>
                    <button class="btn btn-link p-0 text-info"  (click)="showText(2)">
                      {{ isReadMore[2] ? 'Show More': 'Show Less' }}
                    </button>
                    <span *ngIf="isReadMore[2]" class="material-icons align-middle" style="font-size:16px;">
                      expand_more
                      </span>
                      <span *ngIf="!isReadMore[2]" class="material-icons align-middle" style="font-size:16px;">
                        expand_less
                        </span>
                  </div>
                </div>
              </div>
              <div class="text-center my-4"><a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">Show venue on Google map</a>
                <!-- <a type="button" class="btn btn-danger" (click)="openModal(content)">Show venue on Google map</a> -->
              </div>


              

              



            </div>


            
          </mat-tab>
        </mat-tab-group>
        
        
      </div>
    </div>
  </div>

  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">Event Venue</h4></div>
        <div class="modal-body">
          <div class="my-google-map" *ngIf="venueLatLng != ''">
            <google-map
            width="100%"
            [center]="{ lat: venueLatLng[0], lng: venueLatLng[1] }">
              <map-marker *ngIf="venueLatLng != ''" [position]="{ lat: venueLatLng[0], lng: venueLatLng[1] }"></map-marker>
           </google-map>
          </div>
        </div>
        <div class="modal-footer justify-content-start border-0">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Event Venue</h4>
    </div>
    <div class="modal-body">
      <div class="my-google-map">
        <google-map>
          <map-marker [position]="{ lat: venueLatLng[0], lng: venueLatLng[1] }"></map-marker>
       </google-map>
      </div>
    </div>
    <div class="modal-footer justify-content-start">
      <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template> -->



  <!-- REFERENCES -->
  <!-- https://www.freakyjolly.com/mat-autocomplete-with-http-api-remote-search-results/ -->
  <!-- https://www.cloudhadoop.com/angular-dynamically-shorten-long-text/ -->
  <!-- https://codepen.io/beedaan/pen/WpOeEz -->
  <!-- https://stackoverflow.com/questions/72519524/how-to-implement-sharing-to-facebook-twitter-functionality-in-angular -->
  <!-- https://www.angularjswiki.com/angular/creating-progress-spinner-in-angular/#step-3-define-mat-progress-spinner-mode-or-type -->