<div *ngIf="favorites == ''" class="container bg-light text-danger rounded-pill text-center fw-bold my-5 no-fave w-50">
    No favorite events to show
  </div>

  <div *ngIf="favorites != ''" class="text-center mb-5" style="font-family: 'Arial', sans-serif;">
    <p class="text-label-color mt-3">List of your favorite events</p>
    <div *ngIf="favorites.length > 0" class="table-responsive container-md rounded-4 p-0 borderHide border-0 w-75 faves">
        <table class="table table-sm table-light table-hover text-center mb-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Event</th>
              <th scope="col">Category</th>
              <th scope="col">Venue</th>
              <th scope="col">Favorite</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of favorites; index as i">
              <td class="fw-bold" >
                {{ i + 1 }} 
              </td>
              <td>
                {{f.date}}
              </td>
              <td>{{f.event}}</td>
              <td>{{f.category}}</td>
              <td>{{f.venue}}</td>
              <td><i (click)="deleteFavorite(f.id)" class="bi bi-trash" style="cursor: pointer"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    
  </div>
