/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */
@import "~bootstrap/dist/css/bootstrap.css";
/* Application-wide Styles */
html {
	margin: 0;
	padding: 0;
	}
body { 
	background-image: url(background.jpg);
	background-color: #cccccc;
	font-family: Arial, Helvetica, sans-serif;
	background-size: cover;
	background-attachment: fixed;
	justify-content: center;
	}
	
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop
{
    --bs-backdrop-opacity:0 !important;
}

.mat-mdc-tab-header-with-background-foreground-color {
	color:white !important;
}

@media (max-width:400px) {

body{background-position: 25% 100%;}
}


.mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-tab .mdc-tab__text-label, .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-tab-link .mdc-tab__text-label {
    color: white !important;
}

.mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mdc-tab-indicator__content--underline, .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-tab-header-pagination-chevron, .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-focus-indicator::before {
	border-color:  #445ea6 !important;
}



